main {
    background-color: aqua;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

section article {
    border: 1px solid black;
    padding: 15px;
    margin: 8px 40px;
}

section article p, section article img {
    display: inline-block;
    vertical-align: middle;
}